html,
body {
  padding: 0 !important;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: transparent;
  border-radius: 100px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(29, 29, 29, 0.493);
  border: 1px solid rgba(255, 255, 255, 0.319);
}


* {
  box-sizing: border-box;
}
