.animationContainer {
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
}

.containerCursor {
    pointer-events: none;
    position: relative;
    mix-blend-mode: exclusion;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.wrapperCursor {
    position: absolute;
    top: -40px;
    left: -60px;
    width: 60px;
    height: 60px;
    will-change: transform;
    contain: layout style size;
}

.cursor {
    overflow: visible;
}

::selection {
    color: #ff5368;
}
